name: CI Pipeline

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read
  packages: write
  pull-requests: read
  id-token: write
  actions: read

jobs:
  # 1. PR Checks (Branch Name + Slack "PR Opened")
  pr-checks:
    if: github.event_name == 'pull_request'
    uses: duyhenryer/shared-workflows/.github/workflows/pr-checks.yml@main
    with:
      slack_channel_id: "C0AD82A9A74"
    secrets:
      SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}

  # 2. Test & Lint
  go-check:
    uses: duyhenryer/shared-workflows/.github/workflows/go-check.yml@main
    with:
      command-test: 'go test -race -coverprofile=coverage.out ./...'
      lint: true
    secrets: inherit

  # 3. Analysis
  sonar:
    needs: go-check
    uses: duyhenryer/shared-workflows/.github/workflows/sonarqube.yml@main
    with:
      project-key: 'duynhne_user-service'
      organization: 'duynhne'
      fail-on-quality-gate: false
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}


  # 4. Build (Main Only)
  docker:
    needs: [go-check, sonar]
    if: github.ref == 'refs/heads/main'
    uses: duyhenryer/shared-workflows/.github/workflows/docker-build.yml@main
    with:
      image-name: 'user-service'
      push: true
    secrets: inherit


  # 4b. Build Migration Image
  docker-db-init:
    needs: [go-check, sonar]
    if: github.ref == 'refs/heads/main'
    uses: duyhenryer/shared-workflows/.github/workflows/docker-build.yml@main
    with:
      image-name: 'user-service-init'
      dockerfile: 'db/migrations/Dockerfile'
      context: 'db/migrations'
      push: true
    secrets: inherit


  # 5. Final Status Notification
  notify:
    if: always()
    needs: [pr-checks, go-check, sonar, docker, docker-db-init]
    uses: duyhenryer/shared-workflows/.github/workflows/status.yml@main
    with:
      slack_channel_id: "C0AD82A9A74"
      slack_thread_ts: ${{ needs.pr-checks.outputs.slack_thread_ts }}
      gsheet_spreadsheet_id: "1F2VUrAOyMGnETApp5yA-ldCW81ConiQXnWYZVxKas_0"
    secrets:
      SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
      GSHEET_CLIENT_EMAIL: ${{ secrets.GSHEET_CLIENT_EMAIL }}
      GSHEET_PRIVATE_KEY: ${{ secrets.GSHEET_PRIVATE_KEY }}
